.idea/
lib/
/target/
/build/
/.gradle/
/.idea/
gradle/.DS_Store
gradle/caches/
gradle/daemon/
gradle/jdks/
gradle/native/
gradle/wrapper/dists/
QualityAutomation.iml
QualityAutomation.ipr
QualityAutomation.iws